@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Thin.ttf') format('truetype'),
         url('../font/SpoqaHanSansNeo-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Light.ttf') format('truetype'),
         url('../font/SpoqaHanSansNeo-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Regular.ttf') format('truetype'),
         url('../font/SpoqaHanSansNeo-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Medium.ttf') format('truetype'),
         url('../font/SpoqaHanSansNeo-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype'),
         url('../font/SpoqaHanSansNeo-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}